{% extends "base.html" %}

{% block content %}
  </header>
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Вирушаємо{{ departures[dep_eng] }}</h1>
    <p class="mb-4">Знайдено{{ tours|lenght }} тур(а)ів</p>
    <div class="row mt-5">

      {% for tour in current_user.tours %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.decription }}</p>
            <a href="{{ url_for('get_tour', tour_id=tour.id) }}" class="btn btn-sm btn-primary">Деталі туру</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </main>
  {% endblock content %}